.lgcontent {
    margin-bottom: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}

.lgbody {
    background-color: #001060;
    background: radial-gradient(farthest-corner at 50% 50%,rgba(0,0,20,.8),rgba(0,0,10,1));
}

.top-bar {
    height: 48px;
    color: white;
    width: 99%;
    margin: 1% auto auto;
    background-color: rgba(0,30,60,.8);
    align-content: center;
    padding-top: 14px;
}

.logout {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #00f030;
    background: transparent;
    color: #00f030;
    font-size: 12px;
    font-weight: lighter;
    -webkit-transition: width 250ms, height 250ms, border-radius 250ms, backgroud-color 250ms, font-size 250ms, color 250ms;
    transition: width 250ms, height 250ms, border-radius 250ms, backgroud-color 250ms, font-size 250ms, color 250ms;
}
.logout:hover {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid #00f030;
    background-color: #501000;
    color: #000000;
    font-size: 16px;
    font-weight: lighter;
}


#map {
    height: 200px;
    width:  90%;
    margin: 9px auto auto;
    border: 2px solid #a1a1a1;
}

.map-div {
    height: 220px;
    width:  95%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #00f030;
    border-radius: 10px;
    background-color: #000000;
}

.CUN-title {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    color: rgba(8,255,80,.9);
    font-weight: lighter;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

