
   <template name="register">
       <div class="card">
           <form>
               email
               <input type="email" id="rEml" value="email@domain.com">
               password
               <input type="password" id="rPwd" value="JohnnyAppleseed123">
               <input type="submit" value="Register">
           </form>
       </div>
   </template>

   <template name="login">
       <div class="card">
           <form>
               <input type="email" id="lEml">
               <input type="password" id="lPwd">
               <input type="submit" value="Login">
           </form>
       </div>
   </template>
